.header {
  &__wrapper {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
  }

  &__logo {
    background-image: url('../../images/pokemon-logo.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100px;
    float: left;
    margin-right: 14px;
  }
}
