/* COMPONENTS */
@import 'components/header';
@import 'components/content';
@import 'components/layout';
@import 'components/breadcrumb';

.player-wrapper {
  position: relative;
  padding-top: 36.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
